webserviceC/consumido/WebSite2/App_WebReferences/ServiceReference2/NewWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mavenproject2.mycompany.com/" targetNamespace="http://mavenproject2.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operation" type="tns:operation" />
  <xs:element name="operationResponse" type="tns:operationResponse" />
  <xs:complexType name="operation">
    <xs:sequence>
      <xs:element name="ci" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>